.Shopify__hero {
  background-image: url('../../assets/shopify_header.svg');
  background-repeat: repeat-x;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  align-items: center;
  background-position: bottom center;
  background-size: cover;

  > div:first-child {
    text-transform: lowercase;
    font-style: italic;
    font-weight: 900;
    margin: 0 auto 3rem;
    display: flex;
    font-size: 1.5rem;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .grid {
    padding: 0 5%;
    display: flow-root;
    align-items: center;
    text-align: center;
    &--item {
      padding: 0 0.25rem;

      &:not(:first-child) {
        @include breakpoint('tablet') {
          margin: 0 auto;
          width: calc(100% / 3 * 2);
        }
        @include breakpoint('desktop') {
          width: 59.1%;
        }
      }

      h1 {
        font-size: 1.75rem;
        font-weight: 700;
        margin: 0 0 1.25rem;
        letter-spacing: -0.58px;
        line-height: 34px;
        @include breakpoint('tablet') {
          margin: 0 0 0.875rem;
        }
        @include breakpoint('desktop') {
          font-size: 3.75rem;
        }
      }
      .subtitle {
        font-size: 1.5rem;
        margin: 0 0 1.25rem;
        @include breakpoint('tablet') {
          margin: 0 0 0.875rem;
        }
        font-size: 1.875rem;
      }

      form {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.938rem;
        position: relative;
        &.labelAnimation {
          label {
            opacity: 1;
            top: 7px;
          }
          input {
            padding-top: 1.5rem;
            padding-bottom: 0.5rem;
            font-size: 1rem;
          }
        }
        label {
          position: absolute;
          font-size: 0.688rem;
          color: $label-color;
          left: 24px;
          top: 10px;
          opacity: 0;
          transition-property: opacity, top;
          transition-duration: 0.25s;
          transition-timing-function: ease-in-out;
        }
        input,
        button {
          margin: 0 8px 8px;
          padding: 1rem;
          border-radius: 0.25rem;
          border-style: none;
        }
        input {
          margin-bottom: 0.5rem;
          min-width: 250px;
          flex-basis: 0;
          flex-grow: 999;
          line-height: 1.133;
          transition-property: padding-top, padding-bottom;
          transition-duration: 0.25s;
          transition-timing-function: ease-in-out;
          font-size: 1rem;
          &::placeholder {
            font-size: 1rem;
          }
        }
        button {
          flex-grow: 1;
          background-color: #212326;
          color: white;
          font-size: 1rem;
          font-weight: 700;
        }
      }
      .message {
        font-size: 0.75rem;
        margin-bottom: 2rem;
      }
      .storefront {
        padding-top: 40px;
        width: 280px;
        padding-bottom: 10px;
        @include breakpoint('mobile') {
          width: 309px;
        }
      }
    }
  }
}
